version: "3.8"

services:
  app:
    build:
      context: ./balance-app
      dockerfile: ../Dockerfile     # <--- Dockerfile на уровень выше
    container_name: laravel-app
    ports:
      - "8000:8000"
    volumes:
      - ./balance-app:/var/www
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: balance
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
